{% extends "LayoutBundle:Backend:security.html.twig" %}

{% block security_content %}

    
        
        <h3 class="form-title">Thank you!</h3>

        <div class="create-account">
            <p>
                Go to Dashboard! &nbsp;
                <a href="" id="register-btn" >Admin Panel</a>
            </p>
        </div>
    </form>
{% endblock%}
